@import "../../styles/vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: sticky;
  top: 0;
  nav {
    display: flex;
    gap: 15px;
  }
}
.logo {
  display: flex;
  align-items: center;
  img {
    max-width: 70%;
  }
}
.title {
  font-weight: bold;
  color: $text-color;
}
.item {
  font-weight: bold;
  color: $text-color;
  padding: 10px 0;
  &:hover {
    transform: scale(1.2);
  }
  &:focus {
    background-color: $text-color;
    border-radius: 5px;
    color: #fff;
  }
}
