@font-face {
  font-family: "NunitoRegular";
  src: local("NunitoRegular"),
    url("../fonts/nunito-v26-cyrillic_latin-regular.woff2") format("woff2");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: NunitoRegular;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
