@import "../../styles/vars.scss";

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  img {
    max-width: 49%;
  }
}
.desc {
  font-size: 50px;
  font-weight: bold;
  color: $text-color;
}
