@import "../../styles/vars.scss";

.wrapper {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 25px 0 35px;
  button:hover img {
    transform: scale(1.1);
  }
  img {
    width: 64px;
    height: 64px;
  }
}
.progress {
  padding: 20px 0;
  color: $green-color;
  font-size: 28px;
  font-weight: bold;
}
