@import "../../styles/vars.scss";

.lineEdit {
  background-color: #e7f8e2;
  input {
    all: unset;
    padding: 8px 5px;
    background-color: #fff;
    border-radius: 8px;
  }
}
.lineNotEdit {
  input {
    all: unset;
    padding: 8px 5px;
    background-color: #e7f8e2;
    border-radius: 8px;
  }
}
.inputBox {
  padding: 12px 5px;
  color: $blue-color;
  font-size: 18px;
  button {
    width: 130px;
    height: 40px;
    padding: 8px 5px;
    border-radius: 8px;
    color: #fff;
    &:hover {
      transition: all 0.2s;
      border: 2px solid #fff;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
        0 10px 10px rgba(0, 0, 0, 0.15);
    }
  }
}
.btnEdit {
  margin: 0 20px 0 25px;
  background-color: $orange-color;
  border: 2px solid #ff4500;
}
.btnDelete {
  margin: 0;
  background-color: $red-color;
  border: 2px solid #8b0000;
}
.btnSave {
  margin: 0 20px 0 25px;
  background-color: $green-color;
  border: 2px solid $border-color;
}
.btnSaveDisabled {
  margin: 0 20px 0 25px;
  background-color: $green-color;
  border: 2px solid $border-color;
  opacity: 0.3;
}
.btnCancel {
  margin: 0;
  background-color: #3434fc;
  border: 2px solid $blue-color;
}
.error {
  input {
    border: solid $red-color;
  }
}
