@import "../../styles/vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  nav {
    display: flex;
    gap: 15px;
  }
}
.logo {
  display: flex;
  align-items: center;
  img {
    max-width: 70%;
  }
}
.title {
  font-weight: bold;
  color: $blue-color;
}
