@import "../../styles/vars.scss";

.footer {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  padding: 5px 0;
  position: sticky;
  bottom: 0;
  background-color: #fff;
}
.text {
  font-size: 14px;
  font-weight: bold;
  color: $blue-color;
}
