@import "../../styles/vars.scss";

.footer {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.text {
  font-size: 14px;
  font-weight: bold;
  color: $text-color;
}
