@import "../../styles/vars.scss";

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.item {
  width: 270px;
  height: 320px;
  background-color: #ecf3ec;
  border: 2px solid $border-color;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
}
.btnTranslate {
  padding: 5px 45px;
  background-color: $green-color;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 0 rgba(21, 80, 10, 0.5);
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(21, 80, 10, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(21, 80, 10, 0.5);
  }
  100% {
    box-shadow: 0 0 0 rgba(21, 80, 10, 0.5);
  }
}
.word {
  padding-top: 55px;
  color: $blue-color;
  font-size: 28px;
  font-weight: bold;
}
.transcription {
  padding-bottom: 85px;
  color: #6f6f6e;
  font-size: 16px;
}
.translate {
  color: $blue-color;
  font-size: 28px;
  font-weight: bold;
}
